.Window {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.Window p {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.Window input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
}

.Window button {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
}